# Django Framework & Database
Django
psycopg2-binary
dj-database-url

# Production Server & Statics
gunicorn
whitenoise

# API & Services (ex: Peppol)
requests
httpx

# Saisie sécurisée des passwords (Si configuré dans settings.py)
# argon2-cffi